.imageContainer {
  background-image: url('../../assets/codePic.jpg');
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  color: white;
}

.header {
  font-size: 5em;
}

.subHeader {
  font-size: 2.25em;
}
